@media (width <= 765px) {
  .headline h1 {
    max-width: initial;
    margin: 13% 7% 4%;
    font-weight: 400;
    text-align: left;
  }

  .features__child {
    display: flex;
    flex-basis: 100%;

    p:last-child {
      margin-bottom: 13%;
    }
  }

  .child_content {
    margin: 13% 7% 10%;
  }
}

@media (765px < width < 995px) {
  .features__child {
    flex-basis: 50%;

    p {
      text-align: justify;
    }

    p:last-child {
      margin-bottom: 15%;
    }
  }

  .child_content {
    margin: 10% 12% 8% 10%;
  }

  button {
    max-width: fit-content;
  }
}

@media (width > 995px) {
  .features__child {
    flex-basis: 50%;

    p {
      text-align: justify;
    }

    p:last-child {
      margin-bottom: 20%;
    }
  }

  .child_content {
    margin: 10% 20% 8% 10%;
  }

  button {
    max-width: fit-content;
  }
}
