//Normalize
@import "normalize.scss";

// Global
@import "global.scss";

//footer styles
@import "footer.scss";

//pdp styles
@import "pdp.scss";

//Cart style
@import "cart.scss";

//Checkout style
@import "checkout.scss";

// header styles
@import "header.scss";

// Home page styles
@import "homePage.scss";

// Brand styles
@import "brand.scss";

// collection styles
@import "collection.scss";

// homepage
@import "homePage.scss";

// About page styles.
@import "about.scss";

// Newsletter styles.
@import "newsletter.scss";

// Login page styles.
@import "login.scss";

// Sign up page styles.
@import 'signup.scss';

// plp styles
@import "plp.scss";

// plp styles
@import "plp.scss";

// Mobile styles.
@import "mobile.scss";

// Search styles.
@import "search.scss";
