.container {
    padding: 10px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.billing_details {
    padding-bottom: 15px;
    padding-top: 30px;
}

.customer_details {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto minmax(0, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.payment_method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment_method_text {
    max-width: 400px;
    text-align: center;
}

.place_order_btn {
    padding: 7px 40px;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #2a254b;
    color: white;
}
