.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.billing_details {
    padding-bottom: 15px;
    padding-top: 30px;
}

.customer_details {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto minmax(0, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.payment_method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment_method_text {
    padding-top: 1rem;
    max-width: 400px;
    text-align: center;
}

.place_order_btn {
    padding: 7px 40px;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #2a254b;
    color: white;
}

.terms_and_conditions {
    margin-top: 1rem;
}

.pass_dont_match {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.accepted span:only-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 2rem;
}

.accepted span img{
    width: 3rem;
}
