.collection {
    padding-bottom: 56px;
    &__h2 {
        font-family: "space-grotesk";
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 33px;
    }
    &__list {
        @include list-reset();
        display: flex;
        justify-content: space-around;
        margin-bottom: 35px;
        &-item {
            &:not(:last-child) {
                margin-right: 20px;
            }
            &-img {
                max-width: 305px;
                height: 375px;
                margin-bottom: 25px;
            }
            &-h4 {
                font-family: "space-grotesk";
                font-size: 20px;
                line-height: 28px;
                color: #2a254b;
                margin-bottom: 8px;
            }
            &-price {
                font-size: 18px;
                line-height: 27px;
                color: #2a254b;
            }
        }
    }
    &__button-block {
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            color: #2a254b;
        }
        &-btn {
            @include btn-reset();
            min-width: 170px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f9f9f9;
            color: #2a254b;
            font-size: 16px;
            line-height: 24px;
            transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out, transform 0.05s ease-in-out;
            &:hover {
                background-color: #2a254b;
                color: white;
            }
            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.different {
    min-height: 355px;
    outline: 1px solid black;
}
