.footer {
    background-color: #2A254B;
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #4E4D93;
        padding: 25px 0;
        &-p {
            color: white;
            font-size: 14px;
        }
        &-list {
            @include list-reset();
            display: flex;
            justify-content: space-between;
            max-width: 264px;
            width: 100%;
            &-item {
                &-linkedin {
                    transition: filter 0.2s ease-in-out, transform 0.05s ease-in-out;
                }
                &-linkedin:hover,
                &-linkedin:focus{
                    color: white;
                }
                &-linkedin:active{
                    transform: scale(0.9);
                }
                &-twitter {
                    transition: filter 0.2s ease-in-out, transform 0.05s ease-in-out;
                }
                &-twitter:hover,
                &-twitter:focus{
                    color: white;
                }
                &-twitter:active{
                    transform: scale(0.9);
                }
                &-facebook {
                    transition: filter 0.2s ease-in-out, transform 0.05s ease-in-out;
                }
                &-facebook:hover,
                &-facebook:focus{
                    color: white;
                }
                &-facebook:active{
                    transform: scale(0.9);
                }
                &-instagram {
                    transition: filter 0.2s ease-in-out, transform 0.05s ease-in-out;
                }
                &-instagram:hover,
                &-instagram:focus{
                    color: white;
                }
                &-instagram:active{
                    transform: scale(0.9);
                }
                &-skype {
                    transition: filter 0.2s ease-in-out, transform 0.05s ease-in-out;
                }
                &-skype:hover,
                &-skype:focus{
                    color: white;
                }
                &-skype:active{
                    transform: scale(0.9);
                }
                &-pinterest {
                    transition: filter 0.2s ease-in-out, transform 0.05s ease-in-out;
                }
                &-pinterest:hover,
                &-pinterest:focus{
                    color: white;
                }
                &-pinterest:active{
                    transform: scale(0.9);
                }
            }
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        &-right {
            display: flex;
            flex-direction: column;
            &-h3 {
                color: white;
                font-size: 16px;
                font-family: "Space Grotesk";
            }
            &-form {
                display: flex;
                flex-direction: row;
            }
            &-button {
                color: #2A254B;
                background-color: white;
                font-family: "Oxanium";
                font-size: 16px;
                padding: 16px 32px;
                gap: 10px;
            }
        }
        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 50%;
            width: 100%;
        }
        &-left-list {
            @include list-reset();
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-item {
                text-decoration: none;
                color: white;
                font-family: "Oxanium";
                font-size: 14px;
                &:not(:last-child) {
                margin-bottom: 12px;
                    }
                a {
                    text-decoration: none;
                    color: white;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: #beb3ff;
                    }
                    &:active {
                        color: #413b64;
                        transition: none;
                    }
                }
            }
            &-h3 {
                color: white;
                font-size: 16px;
                font-family: "Space Grotesk";
                margin-bottom: 12px;
            }
    }
        &-center-list {
            @include list-reset();
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-item {
                text-decoration: none;
                color: white;
                font-family: "Oxanium";
                font-size: 14px;
                &:not(:last-child) {
                margin-bottom: 12px;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        transition: color 0.3s ease-in-out;
                        &:hover {
                            color: #beb3ff;
                        }
                        &:active {
                            color: #22202E;
                            transition: none;
                        }
                    }
            }
            &-h3 {
                color: white;
                font-size: 16px;
                font-family: "Space Grotesk";
                margin-bottom: 12px;
            }
        }
        &-right {
            &-list {
                @include list-reset();
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &-item {
                    text-decoration: none;
                    color: white;
                    font-family: "Oxanium";
                    font-size: 14px;
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        transition: color 0.3s ease-in-out;
                        &:hover {
                            color: #beb3ff;
                        }
                        &:active {
                            color: #22202E;
                            transition: none;
                        }
                    }
                }
                &-h3 {
                    color: white;
                    font-size: 16px;
                    font-family: "Space Grotesk";
                    margin-bottom: 12px;
                }
            }
            &-form {
                &-input {
                    background: rgba(255, 255, 255, 0.15);
                    border: none;
                    outline: none;
                    max-width: 503px;
                    width: 100%;
                    color: white;
                    &::placeholder {
                        color: white;
                    }
                    &:focus {
                        border-bottom: 1px solid white;
                    }
                }
                &-button {
                    height: 40px;
                    border: none;
                    outline: none;
                    white-space: nowrap;
                    min-width: 100px;
                    transition: transform 0.05s ease-in-out;
                    &:active {
                        transform: scale(0.9);
                    }
                }
                &-h3 {
                    color: white;
                    font-size: 16px;
                    font-family: "Space Grotesk";
                    margin-bottom: 16px;
                }
            }
        }
}
}
