@import "@fontsource/space-grotesk/600.css";
@import "@fontsource/space-grotesk/400.css";

@import "@fontsource/oxanium/400.css";


input[disabled],
button[disabled] {
  opacity: 0.5;
 cursor: unset;
}

@mixin list-reset () {
 margin: 0;
 padding: 0;
 list-style: none;
}

@mixin btn-reset () {
 padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
 font-family: "Oxanium", sans-serif;
 min-width: 390px;
}

main {
    min-height: 80vh;
}

h1,
h2,
p {
 margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[disabled],
button[disabled] {
  opacity: 0.5;
 cursor: unset;
}

.container {
    box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}
