@media (max-width: 768px) {
    .header {
        display: flex;

        &__hamburger {
            @include btn-reset();
            display: block;
            order: 3;
        }
        &__nav {
            display: none;
        }
        &__top {
            border-bottom: none;
            &-right {
                &-personal, &-cart {
                    display: none;
                }
            }
            &-left-btn {
                order: 2;
            }
            &-center-link {
                order: -1;
            }
        }
    }
}
