.section1 {
    max-width: 1440px;
    margin: 60px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(42, 37, 75, 1);
    color: #ffffff;

    &__container {
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        &-h1 {
            padding-top: 10.5%;
            padding-bottom: 7.2%;
            font-family: "Space Grotesk";
            font-size: 32px;
        }

        &-button {
            font-size: 16px;
            max-width: 170px;
            height: 56px;

            background-color: rgb(52, 48, 83);
            color: #ffffff;
        }
        &-h2 {
            color: #ffffff;
            font-size: 18px;
            line-height: 27px;
            text-align: left;
            padding-top: 34.4%;
            padding-bottom: 10.5%;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        max-width: 520px;
        width: 100%;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section6 {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 1);

    &__container {
        padding-top: 72px;
        padding-left: 84px;
        padding-right: 100px;

        &-button {
            font-size: 16px;
            max-width: 170px;
            height: 56px;
            border-color: #f9f9f9;
            background-color: rgba(249, 249, 249, 1);
            color: rgba(42, 37, 75, 1);
            margin-top: 196px;
            margin-bottom: 54px;
        }
        &-h2 {
            font-family: "Space Grotesk";
            font-size: 24px;
            padding-bottom: 25px;
        }
        &-h3 {
            font-size: 16px;
            padding-bottom: 25px;
            line-height: 21.6px;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        max-width: 720px;
        width: 100%;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}
