.section1 {
    max-width: 1280px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(42, 37, 75, 1);
    color: #ffffff;

    &__container {
        padding-left: 60px;
        &-h1 {
            padding-top: 60px;
            padding-bottom: 41px;
            font-size: 32px;
        }

        &-button {
            font-size: 16px;
            max-width: 170px;
            height: 56px;
            border-color: #f9f9f9;
            background-color: rgb(52, 48, 83);
            color: #ffffff;
        }
        &-h2 {
            font-size: 18px;
            padding-top: 196px;
            padding-right: 98px;
            color: #ffffff;
            padding-bottom: 60px;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-left: 60px;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section2 {
    max-width: 1280px;
    margin-top: 60px;

    ul,
    li {
        list-style: none;
        text-decoration: none;
    }

    &__container {
        &-h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        &-infoBlock {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            padding-top: 51px;
            padding-bottom: 86px;
        }

        &-image-img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section3 {
    max-width: 1280px;
    height: 761px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        &-h2 {
            padding-top: 80px;
            padding-bottom: 33px;
            font-size: 32px;
        }

        &-infoBlock {
            max-width: 1280ppx;
            height: 462px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-top: 51px;
            padding-bottom: 86px;
        }

        &-button {
            font-size: 16px;
            max-width: 170px;
            height: 56px;
            border-color: #f9f9f9;
            background-color: rgb(52, 48, 83);
            color: #ffffff;
        }
    }
}

.section5 {
    max-width: 1440px;
    background-color: rgba(249, 249, 249, 1);

    &__container {
        padding-left: 60px;
        &-h1 {
            padding-top: 60px;
            padding-bottom: 41px;
            font-size: 32px;
        }

        &-button {
            font-size: 16px;
            max-width: 170px;
            height: 56px;
            border-color: #f9f9f9;
            background-color: rgb(52, 48, 83);
            color: #ffffff;
        }
        &-h2 {
            font-size: 18px;
            padding-top: 196px;
            padding-right: 98px;
            color: #ffffff;
            padding-bottom: 60px;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-left: 60px;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section6 {
    max-width: 1280px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(42, 37, 75, 1);
    color: #ffffff;

    &__container {
        padding-left: 60px;
        &-h1 {
            padding-top: 60px;
            padding-bottom: 41px;
            font-size: 32px;
        }

        &-button {
            font-size: 16px;
            max-width: 170px;
            height: 56px;
            border-color: #f9f9f9;
            background-color: rgb(52, 48, 83);
            color: #ffffff;
        }
        &-h2 {
            font-size: 18px;
            padding-top: 196px;
            padding-right: 98px;
            color: #ffffff;
            padding-bottom: 60px;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-left: 60px;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}
