.section1 {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(42, 37, 75, 1);
    color: #ffffff;

    &__container {
        padding: 0px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        &-h1 {
            padding-top: 10.5%;
            padding-bottom: 7.2%;
            font-family: "Space Grotesk";
            font-size: 32px;
        }

        &-button {
            font-size: 16px;
            min-width: 170px;
            width: 100%;
            height: 56px;
            background-color: rgb(52, 48, 83);
            color: #ffffff;
            transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out, transform 0.05s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #474072;
                color: white;
            }
            &:active {
                transform: scale(0.9);
            }
        }
        &-h2 {
            color: #ffffff;
            font-size: 18px;
            line-height: 27px;
            text-align: left;
            padding-top: 34.4%;
            padding-bottom: 10.5%;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        width: 100%;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}

.section3 {
    max-width: 1280px;
    margin: 0 auto;
    &__container {
        &-h2 {
            font-family: "Space Grotesk";
            font-size: 32px;
            padding-top: 6.25%;
            padding-bottom: 2.6%;
        }
    }
    .collection__button {
        @include btn-reset();
        width: 100%;
        min-width: 170px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        color: #2a254b;
        font-size: 16px;
        line-height: 24px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            transform 0.05s ease-in-out;
        &:hover {
            background-color: #2a254b;
            color: white;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

.section4 {
    max-width: 1280px;
    margin: 0 auto;
    &__container {
        &-h2 {
            font-family: "Space Grotesk";
            font-size: 32px;
            padding-top: 6.25%;
            padding-bottom: 2.6%;
        }
    }
    .collection__button {
        @include btn-reset();
        width: 100%;
        min-width: 170px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        color: #2a254b;
        font-size: 16px;
        line-height: 24px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            transform 0.05s ease-in-out;
        &:hover {
            background-color: #2a254b;
            color: white;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

.section6 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 1);

    &__container {
        padding-top: 72px;
        margin-left: 8.4%;
        margin-right: 13.9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        &-button {
            font-size: 16px;
            min-width: 170px;
            width: 100%;
            height: 56px;
            border-color: #f9f9f9;
            background-color: rgba(249, 249, 249, 1);
            color: rgba(42, 37, 75, 1);
            margin-top: 29.7%;
            margin-bottom: 8.2%;
            transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out, transform 0.05s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #2a254b;
                color: white;
            }
            &:active {
                transform: scale(0.9);
            }
        }
        &-h2 {
            max-width: 536px;
            font-family: "Space Grotesk";
            font-size: 24px;
            padding-bottom: 25px;
        }
        &-h3 {
            max-width: 536px;
            font-size: 16px;
            padding-bottom: 25px;
            line-height: 21.6px;
        }
    }
    &__image {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        width: 100%;

        &-img {
            max-width: 100%;
            height: auto;
        }
    }
}
