.login__container {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 80vh;
  background-color: #f9f9f9;
}

.login {
  padding: 130px 7%;

  h2 {
    margin-bottom: 1.5em;
    font-family: Oxanium, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
  }

  a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    color: #3f3975;
    transition: 0.05s ease-in-out;

    &:hover {
      color: #6860b1;
    }
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &-input {
    &-email-block {
        position: relative;
        &-span {
            display: none;
            &-error {
                display: block;
                color: red;
                font-size: 14px;
                position: absolute;
                top: -20px;
            }
        }
    }
    padding: 16px;
    width: calc(100% - 32px);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 0;
    outline: none;
    transition: 0.05s ease-in-out;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      box-shadow: inset 0 -4px 0 -2px #3f3975;
    }

    &.--invalid {
      box-shadow: inset 0 0 0 2px #e46666;
    }
    &-error {
        outline: 1px solid red;
        padding: 16px;
        width: calc(100% - 32px);
        border: none;
    }
  }

  button {
    padding: 16px 32px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #2a254b;
    border: none;
    transition: 0.05s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #353062;
    }

    &:active {
      background-color: #3f3975;
    }
  }

  .input_message {
    margin-top: -18px;
    font-family: 'Space Grotesk', sans-serif;
    color: #e46666;
  }
}

.login__create_account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
