.menu {
    position: fixed;
    width: 100vw;
    height: 350vh;
    left: 70%;
    top: 0;
    transform: translateX(-450%);
    transition: all 0.3s;
}

.menu.active {
    transform: translateX(-70%);
}

.menu__content {
    width: 80%;
    height: 100%;
    background-color: #F9F9F9;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.4s;
    position: relative;
}

.menu__header {
    color: white;
    padding: 10px;
    font-family: "Space Grotesk";
    font-size: 2.3rem;
    background-color: #322b58;
    width: 96.5%;
    text-align: left;
}

.menu__list {
    list-style-type: none;
    &-item {
        &-img {
            margin-right: 10px;
        }
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }
    a {
        color: #413b64;
        text-decoration: none;
        padding: 5px 0;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: #9e94d8;
        }
        &:active {
            color: #413b64;
            transition: none;
        }
    }
}

@media (max-width: 679px) {
    .menu__header {
        color: rgb(15, 11, 73);
        background-color: transparent;
        font-size: 2rem;
    }
    .menu__list {
        a {
            border-bottom: 0.5px solid grey;
        }
    }
}

@media (max-width: 475px) {
    .menu {
        left: 69.9%;
    }
}
@media (max-width: 425px) {
    .menu {
        left: 69.8%;
    }
}
@media (max-width: 418px) {
    .menu {
        left: 69.5%;
    }
}
@media (max-width: 389px) {
    .menu {
        left: 69%;
    }
}
@media (max-width: 385px){
    .menu {
        left: 68%;
    }
}
@media (max-width: 378px) {
    .menu {
        left: 67.5%;
    }
}
@media (max-width: 375px) {
    .menu {
        left: 67%;
    }
}
@media (max-width: 373px) {
    .menu {
        left: 66%;
    }
}
@media (max-width: 367px) {
    .menu {
        left: 65%;
    }
}
@media (max-width: 362px) {
    .menu {
        left: 64%;
    }
}
@media (max-width: 356px) {
    .menu {
        left: 63%;
    }
}
@media (max-width: 351px) {
    .menu {
        left: 62%;
    }
}
@media (max-width: 346px) {
    .menu {
        left: 61%;
    }
}
@media (max-width: 341px) {
    .menu {
        left: 60%;
    }
}
@media (max-width: 336px) {
    .menu {
        left: 59%;
    }
}
@media (max-width: 331px) {
    .menu {
        left: 58%;
    }
}
@media (max-width: 322px) {
    .menu {
        left: 57%;
    }
}
