@media (max-width: 1200px) {
    .descr {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            max-width: 350px;
        }
        &__block {
            width: unset;
        }
    }
}

@media (max-width: 777px) {
    .descr {
        &__img {
            max-width: 550px;
            margin-bottom: 20px;
        }
        &__block {
            padding: 0 40px;
            max-width: 550px;
            &-h1 {
                font-size: 24px;
                line-height: 34px;
            }
            &-price {
                font-size: 20px;
                line-height: 28px;
            }
            &-inner {
                &-descr {
                    &-h2 {
                        font-size: 16px;
                        line-height: 22px;
                    }
                    &-p {
                        font-size: 14px;
                        line-height: 21px;
                    }
                    &-list {
                        &-item {
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
                &-dimensions {
                    &-h2 {
                        font-size: 16px;
                        line-height: 22px;
                    }
                    &-list {
                        &-item {
                            &-header {
                                font-size: 14px;
                                line-height: 20px;
                            }
                            &-span {
                                font-size: 14px;
                                line-height: 20px;
                                color: #2A254B;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 630px) {
    .descr {
        &__block {
            &-inner {
                &-buttons {
                    justify-content: unset;
                    flex-direction: column;
                    &-amount {
                        flex-direction: column;
                        align-items: unset;
                        margin-bottom: 16px;
                        &-p {
                            margin-bottom: 12px;
                        }
                        &-span {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
