.plp {
    &__background {
        background-image: url('../img/plp/background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 209px;
        margin-bottom: 36px;
    }
}
