.plp {
    display: flex;

    &__background {
        min-height: 209px;
        margin-bottom: 36px;
        background-image: url("../img/plp/background.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__filters {
        display: flex;
        flex-direction: column;
        gap: 12px;
        min-width: 156px;
        min-height: 100vh;
        margin: 48px 48px 0 80px;

        .filter__checkbox {
            margin-right: 12px;
        }

        p {
            margin-bottom: 8px;
            font-family: Oxanium, sans-serif;
            color: #2a254b;
        }

        label {
            font-family: "Space Grotesk", sans-serif;
            color: #2a254b;
        }

        input {
            accent-color: #4e4d93;
        }

        input:not(:checked) {
            opacity: 0.3;
        }
    }

    &__list-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding-bottom: 36px;

        &-btn-block {
            display: flex;
            justify-content: center;

            &-btn {
                @include btn-reset;

                min-width: 140px;
                height: 56px;
                font-size: 16px;
                line-height: 24px;
                color: #2a254b;
                background-color: #f9f9f9;
            }
        }
    }

    &__list {
        @include list-reset;

        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: flex-end;

        &-button {
            @include btn-reset;

            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            &-img {
                width: 272px;
                height: 282px;
            }

            &-h4 {
                margin-top: 24px;
                font-family: Oxanium, sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
            }

            &-price {
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}
