// @media (max-width: 1390px) {
//     .products {
//         &__list {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             justify-items: center;
//             align-items: center;
//         }
//     }

//     .product {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         justify-items: center;
//     }
// }
@media (max-width: 1390px) {
    .products {
        &__container {
            max-width: 710px;
        }
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            max-width: 710px;
            margin: 0 auto;
            margin-bottom: 35px;
            &-item {
                max-width: 305px;
                margin: 0 !important;
            }
        }
    }
}

@media (max-width: 777px) {
    .products {
        &__list {
            &-item {
                &-img {
                    max-width: 163px;
                    max-height: 201px;
                }
            }
        }
    }
}
