.sign_up__container {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 80vh;
  background-color: #f9f9f9;
}

.sign_up {
  padding: 70px 7%;

  h2 {
    margin-bottom: 1em;
    font-family: Oxanium, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
  }

  a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    color: #3f3975;
    transition: 0.05s ease-in-out;

    &:hover {
      color: #6860b1;
    }
  }
}

.sign_up__form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  label {
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
    color: #000;
  }

  input {
    padding: 16px;
    margin: 7px 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 0;
    outline: none;
    transition: 0.05s ease-in-out;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      box-shadow: inset 0 -4px 0 -2px #3f3975;
    }

    &.--invalid {
      box-shadow: inset 0 0 0 2px #e46666;
    }
  }

  button {
    grid-column: 2;
    padding: 16px 32px;
    margin-top: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #2a254b;
    border: none;
    transition: 0.05s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #353062;
    }

    &:active {
      background-color: #3f3975;
    }
  }

  .input_message {
    font-family: 'Space Grotesk', sans-serif;
    color: #e46666;
  }
}

.sign_up__have_account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
