.account__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // padding-top: 5%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #f9f9f9;

    &-title {
        max-width: 1440px;
        margin: 0 auto;
        background: url("../img/homePage/accountBackground.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        color: white;

        & h2 {
            padding-left: 5%;
            font-family: Oxanium, sans-serif;
            font-size: 1.5em;
            font-weight: 500;
            color: #f9f9f9;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        // align-items: flex-start;
    }

    ul {
        list-style: none;
    }

    li,
    li a {
        text-decoration: none;
        margin-bottom: 1em;
        font-family: Oxanium, sans-serif;
        font-size: 1.2em;
        font-weight: 500;
        color: rgb(100, 97, 114);
    }

    & h3 {
        margin-bottom: 1em;
        font-family: Oxanium, sans-serif;
        font-size: 1.4em;
        font-weight: 500;
    }
}

.user__form {
    // max-width: 900px;
    // display: flex;
    // flex-direction: column;
    // gap: 25px;

    input {
        padding: 16px 32px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 1em;
        border: none;
        border-radius: 0;
        outline: none;
        transition: 0.05s ease-in-out;

        &::placeholder {
            opacity: 0.5;
        }

        &:focus {
            box-shadow: inset 0 -4px 0 -2px #3f3975;
        }
    }

    .user__form {
        &-profile {
            max-width: 900px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 5%;
            row-gap: 5%;
            justify-content: flex-start;
            align-items: center;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        &-password {
            max-width: 900px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 5%;
        }

        &-button-block {
            max-width: 900px;
            padding-top: 5%;
            padding-bottom: 5%;
            display: flex;
            // justify-content: center;
            justify-content: flex-end;
            // min-width: 170px;
            width: 100%;
        }
    }
    button {
        margin-left: 2%;
        padding: 16px 32px;
        min-width: 170px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 1em;
        color: #fff;
        background-color: #2a254b;
        border: none;
        transition: 0.05s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: #474072;
        }

        &:active {
            background-color: #3f3975;
        }
    }
    .cancel {
        background-color: white;
        color: #2a254b;
        border-color: #2a254b;
        border: 0.5px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            transform 0.05s ease-in-out;
        &:active {
            color: white;
        }
    }
}
